@import url('https://fonts.googleapis.com/css?family=Audiowide');

html{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;

  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App,#root{
  min-height: 100vh;
}

/*If featured grpahics DIDNT have materialize parallax effect:
.feature-graphic{
  max-width: 100%;
  max-height: 100% !important;
  display: block;

  --------------comments--------------
  center something like this:
  margin-left: auto;
  margin-right: auto;
  display: block;
}*/

/* if */
.parallax-container{
  height: 700px !important;  
}

/* else */
@media screen and (max-width: 670px) {
  .parallax-container .parallax img{
    max-width: 120%;
    min-height: auto !important;
  }

  .parallax-container{
    height: 60vw !important;  
  }

  h1.contactPage{
    font-size: 10vw;
  }

  div.navbarTitle{
    font-size: 5vw;
  }
}
/* has to be in this order because its done sequentially */

.crossFadeImages{
  position: relative;
  min-height: 60px;
}

.crossFadeImages a{
  position: absolute;
}

.crossFadeImages img{
  position: absolute;
}

.crossFadeImages img.top {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.crossFadeImages img.top:hover {
  opacity: 0;
}

.supMat{
  padding-top: 20px;
  padding-bottom: 15px
}

.supMat .row{
  margin-bottom: 0px !important;
}

.removeRowMargin{
  margin-bottom: 0px !important;
}

.supMat .container{
  width:100%;
}

.zoomImage{
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
}

.zoomImage.zoomRight:hover{
  -webkit-transform: scale(1.08) rotate(2deg);
  transform: scale(1.08) rotate(2deg);
}

.zoomImage.zoomCenter:hover{
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.zoomImage.zoomLeft:hover{
  -webkit-transform: scale(1.08) rotate(-2deg);
  transform: scale(1.08) rotate(-2deg);
}

.redHighlightText{
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.redHighlightText:hover{
  color: rgb(255, 74, 74);
}

.centerFlexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.fullWidthContainer{
  width:100% !important
}

.showScrollButton{
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease;
  top:0px;
}

.hideScrollButton{
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease;
  top:100px;
}

nav{
  opacity: 0.87;
}

@media screen and (min-width: 671px) {
  .growNav{
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    height: 72px;
  }
  
  .shrinkNav{
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    height: 64px;
  }
}

#mobile-navlinks li{
  margin: 50px 0 50px
}

.video {
  width: 100%;
  position: relative;
}

.video iframe {
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .videoSupMatContainer{
    max-height: 100% !important;
  }
}

.summaryDescription{
  line-height: 1.5em;
}

.audiowide{
  font-family: 'Audiowide';
  font-size: 20px;
}

/* PLACEHOLDERS */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

/* MATERIALIZE INPUT */
.contact .materialize-textarea{
  height: 200px;
}

/* label focus color */
.input-field input:focus + label,
.materialize-textarea:focus:not([readonly]) + label {
  color: #07EAFF !important;
}
/* label underline focus color */
.row .input-field input:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #07EAFF !important;
  box-shadow: 0 1px 0 0 #07EAFF !important
}